.schedule{
    padding-top: 58px;
}
.picker{
    height: 50px;
    width: 200px;
    margin: auto;
    background-color: whitesmoke;
    color: black;
    margin-top: 20px;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.padding{
    padding-top: 13px;
}

.phonegreen:focus{
    color: green;
    background-color: rgb(185, 255, 185)
}
.phonered{
    background-color: rgb(255, 184, 184);
    
}
