.home{
    padding-top: 58px;
    padding-bottom: 30px;
    background-image: var(--appbackground);
    height: 100%;
    overflow: hidden;
    /* background-size: cover; */
}
.images{
    width: 90%;
}   
