.adminhome{
    padding-top: 58px;
    padding-bottom: 30px;
    background-image: var(--appbackground);
    background-repeat: repeat;
    height: 100vh;    /* you may want to delete this when you add the photos to the home page */
    
}

p{
    padding: 5px;
}
