.login{
    background-image: var(--appbackground);
    background-repeat: repeat;
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.logindiv{
    background-color: whitesmoke;
    height: 200px;
    width: 300px;
    box-shadow: var(--appboxshadow);
}
.h1{
    font-size: 50px;
    margin-top: 30px;
}
.gr__localhost{
    height: 100%;
    width: 100%;
}

.warning{
    background: rgba(26, 24, 24, 0.87);
    height: 125px;
    width: 60%;
    font-size: 25px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    color: white;
}