.logindiv{
    background-color: whitesmoke;
    height: 300px;
    width: 300px;
    border-radius: 15px;
    margin: auto;
    margin-top: 50%;
    box-shadow: 5px 5px 10px grey;
}
.h1{
    font-size: 50px;
}
